<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Register</h1>
        <form action="/register" method="post">
            {% csrf_token %}
            <p>
                First Name:
                <input type="text" name="first_name" id="">
            </p>
            <p>
                Last Name:
                <input type="text" name="last_name" id="">
            </p>
            <p>
                Email:
                <input type="text" name="email" id="">
            </p>
            <p>
                Password:
                <input type="text" name="password" id="">
            </p>
            <p>
                Confirm Password:
                <input type="text" name="confirmPassword" id="">
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <h1>Login</h1>
        <form action="/login" method="post">
            {% csrf_token %}
            <p>
                Email:
                <input type="text" name="email" id="">
            </p>
            <p>
                Password:
                <input type="text" name="password" id="">
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>